/*general*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,400&display=swap');

:root{
    --color-font: rgb(220,220,220);
    --color-font2: linear-gradient(90deg, rgb(92, 116, 255), rgb(110, 140, 255));
    --color-header: linear-gradient(90deg, rgb(37, 46, 122), rgb(46, 58, 152), rgb(55, 70, 182));
    --color-welcomesection: linear-gradient(90deg,rgb(20, 26, 32) , rgb(41, 52, 64)) ;
    --color-projectssection: linear-gradient(90deg,rgb(13, 16, 42) 100% , rgb(9, 11, 27));
    --color-contactsection: linear-gradient(90deg,rgb(31, 39, 48) , rgb(62, 78, 96));
    --color-gridborder: rgb(0, 0, 0);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    color: var(--color-font);
}

a {
    text-decoration: none;
    color: var(--color-font);
}

img {
    display: block;
    max-width: 100%;
}

/*header*/

#navbar {
    background: var(--color-header);
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    padding: 1.5em 0px;
    justify-content: end;
}

#navbar a {
    margin: auto;
    margin-right: 1.5em;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

#navbar ul {
    display: flex;
    flex-wrap: wrap;
}

#navbar li {
    list-style: none;
    font-size: 1.5em;
}

/*first section*/

#welcome-section {
    background: var(--color-welcomesection);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}


h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 3.5em;
}

#welcome-section p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 2em;
    margin-top: .25em;
    background-image: var(--color-font2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: rgb(224, 255, 79);
}

/*second section*/

#projects {
    background: var(--color-projectssection);
    text-align: center;
    width: 100%;
    height: 100%;
    padding-top: 7em;
    padding-bottom: 5em;
}

#projects h2{
    max-width: 640px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 2.5em;
    border-bottom: solid .1em var(--color-font);
    color: var(--color-font);
    margin-bottom: 1em;
}

#projects p, #Showall {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.3em;
    color: var(--color-font);  
}

#projects p {
    padding: 20px;
}

.projectboard{
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 160px;
    max-width: 100em;
    justify-content: center;
    margin: auto;
    margin-bottom: 4em;
}

#projectitem {
    margin: 10px 10px;
    display: flex;
    background: var(--color-gridborder);
    border-radius: 4%;

}

#projectitem img {
    flex: 0 1 160px;
    max-width: 25em;
    border: 2px solid var(--color-gridborder);
}

#Showall {
    background: var(--color-gridborder);
    padding: .5em 1em;
    font-family: 'Roboto', sans-serif;
}

/*third section*/

#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--color-contactsection);
    width: 100%;
    height: 92vh; 
}

#contacts {
    padding: 3em;
}

#contact h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 4em;
    color: var(--color-font);
}

#profile-link {
    margin: auto;
    padding: 3em;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
}