:root{
    --color-header: rgb(0, 0, 100);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: black;
    color: white;
}



#navbar {
    background-color: var(--color-header);
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    padding: 1.5em 0px;
    justify-content: end;
}

#navbar a {
    margin: auto;
    margin-right: 1.5em;
    
}

#navbar ul {
    display: flex;
    flex-wrap: wrap;
}

#navbar li {
    list-style: none;
    font-size: 1.5em;
}

a {
    text-decoration: none;
    color: white;
}


#welcome-section {
    margin-top: 7em;
}
